.home_container {
  height: 100vh;
}

@media screen and (min-width: 1000px) {
  .home_container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1400px) {
  .home_container {
    padding-left: 230px;
    padding-right: 230px;
  }
}
