.result_container {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.result {
  width: 100%;
  margin-bottom: 20px;
}

.result_data {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

.result_title {
  color: #edeff1;
  font-size: 16px;
  font-weight: bold;
}

.info_container {
  margin-top: 8px;
  border-radius: 6px;
  padding: 8px;
  background-color: #2a2f3b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  height: 230px;
  width: 100%;
}

.info_container_emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info_container span {
  font-size: 80px;
}

.info_container_country {
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin-top: -20px;
  text-align: center;
}

.info_container_extra_data {
  margin-top: 10px;
}

.info_container_extra_data p {
  color: white;
  margin-top: 3px;
  font-size: 13px;
}

.languages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.language_text {
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.languages_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 500px) {
  .result_data {
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
  }
  .info_container {
    width: 49%;
    height: 260px;
  }
}

@media screen and (min-width: 800px) {
  .info_container {
    width: 32%;
  }
}

@media screen and (min-width: 1000px) {
  .info_container {
    width: 24%;
  }
}

@media screen and (min-width: 1200px) {
  .info_container {
    width: 19%;
  }
}

/* @media screen and (min-width: 1400px) {
  .info_container {
    width: 15%;
  }
} */
