.result_container {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}



.result_container p {
  color: #edeff1;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.result_container span {
  font-size: 80px;
}

.info_container {
  margin-top: 8px;
  border-radius: 6px;
  padding: 8px;
  background-color: #2a2f3b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info_container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




